$width: 250px;
$lagoon-blue: #62fdca;
$lagoon-blue: fade-out(#62fdca, 0.5);

.math {
  width: $width;
  text-align: center;
  background-color: $lagoon-blue;
  color: red + blue;
	height: $width/6;
	line-height: $width/6;
  border-radius: $width/30;
	font-size: $width/6/2;
}

$list: (orange, purple, teal);

@each $item in $list {
  .#{$item} {
    background: $item;
  }
}

$total: 10; 
$step: 360deg / $total; 


.ray {
  height: 30px;
}

@for $i from 1 through $total {
   .ray:nth-child(#{$i}){
      background: adjust-hue(blue, $i * $step);
			width: if($i % 2 == 0, 300px, 350px);
			margin-left: if($i % 2 == 0, 0px, 50px);
   }
}

